.bootstrap-select .dropdown-menu li a span.check-mark {
    display: none;
}
.dropdown-menu-footer {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-top: 1px solid #ddd;
    background-color: #f9f9f9;

    .btn-reset {
        color: #007bff;
        background: none;
        border: none;
        cursor: pointer;
    }

    .btn-ok {
        background-color: #007bff;
        color: white;
    }
}
.bootstrap-select {
    .dropdown-menu {
        li {
            a {
                padding-left: 35px;
                position: relative;
                display: flex;
                span.check-mark {
                    display: none !important;
                }
                &::before {
                    content: "";
                    position: absolute;
                    left: 12px;
                    top: 50%;
                    transform: translateY(-50%);
                    width: 16px;
                    height: 16px;
                    border: 1px solid #ccc;
                    border-radius: 3px;
                    background-color: #fff;
                }

                &.selected::before {
                    content: "✓";
                    font-size: 12px;
                    color: #fff;
                    text-align: center;
                    line-height: 16px;
                    background-color: #387ff8;
                }
            }
        }
    }
    .inner {
        &.show {
            max-height: 155px !important;

            &::-webkit-scrollbar-track {
                border-radius: 99px;
                background: #ececec;
            }
            &::-webkit-scrollbar {
                width: 3px;
                height: 3px;
            }
            &::-webkit-scrollbar-thumb {
                border-radius: 9px;
                background: #387ff8;
            }
        }
    }
}
.hidden-footer {
    display: none;
}
.sms-header-dropdown-1,
.sms-header-dropdown-2 {
    position: relative;
    &.bootstrap-select .dropdown-toggle:focus {
        outline: none !important;
    }
    &::before {
        content: "\f282";
        font-family: bootstrap-icons !important;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        color: #fff;
        font-weight: 700;
        font-style: normal;
        display: inline-block;
        text-rendering: auto;
        pointer-events: none;
        font-size: 16px;
    }
    button {
        background-color: transparent;
        border: none;
        .filter-option-inner-inner {
            color: #fff;
            text-align: right;
            font-family: "Poppins", sans-serif;
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            margin-right: 10px;

            @include mq(phone-sm) {
                font-size: 16px;
            }
        }
        &::after {
            display: none;
        }
        &:hover {
            background-color: transparent;
        }
        &:focus,
        &.show {
            border: none !important;
            background-color: transparent !important;
            box-shadow: none !important;
        }
    }
}
