@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.poppins-extralight {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-black {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.poppins-thin-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.poppins-extralight-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.poppins-light-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.poppins-regular-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.poppins-medium-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.poppins-semibold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.poppins-bold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.poppins-extrabold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.poppins-black-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: italic;
}

.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  max-width: 280px;
  transition: all 0.3s;
  width: 250px;
  height: 100vh;
  border-right: 0.4px solid #969696;
  background: #fff;
}
.sidebar.collapsed {
  width: 72px;
}
.sidebar-container {
  width: 100%;
  height: 100%;
}
.sidebar-inner {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.sidebar-header {
  width: 100%;
  border-bottom: 1px solid #969696;
  padding: 15px 20px;
}
.sidebar-header .logo-md {
  width: 135.561px;
  height: 57.319px;
  display: block;
}
.sidebar-header .logo-md img {
  width: 100%;
  height: 100%;
}
.sidebar-header .logo-sm {
  display: none;
  width: 35.781px;
  height: 57.319px;
}
.sidebar-header .logo-sm img {
  width: 100%;
  height: 100%;
}
.sidebar-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 68px 20px;
}
.sidebar-content .nav {
  display: flex;
  flex-direction: column;
  row-gap: 33px;
  padding: 0 !important;
}
.sidebar-content .nav .nav-item {
  width: 100%;
}
.sidebar-content .nav .nav-item .nav-link {
  padding: 0 !important;
  height: 27px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  -moz-column-gap: 8px;
       column-gap: 8px;
}
.sidebar-content .nav .nav-item .nav-link svg {
  width: 15px;
}
.sidebar-content .nav .nav-item .nav-link span {
  color: #919191;
  font-family: "Inter", sans-serif;
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0.09px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  opacity: 1;
  transition: 0.8s;
  font-feature-settings: "liga" off, "clig" off;
}
.sidebar-content .nav .nav-item .nav-link.active {
  height: 47px;
  padding: 10px !important;
  border-radius: 12px;
  background: #e4e7ff;
}
.sidebar-content .nav .nav-item .nav-link.active svg clipPath rect {
  fill: #387ff8;
}
.sidebar-content .nav .nav-item .nav-link.active svg path {
  fill: #387ff8;
}
.sidebar-content .nav .nav-item .nav-link.active span {
  color: #387ff8;
}
.sidebar-content .logout-btn {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  -moz-column-gap: 8px;
       column-gap: 8px;
}
.sidebar-content .logout-btn span {
  color: #fff;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0.09px;
}
.sidebar-footer {
  width: 100%;
  border-top: 1px solid #969696;
  padding: 24px 20px 36.29px 20px;
}
.sidebar-footer-inner {
  display: flex;
  align-items: center;
  -moz-column-gap: 11px;
       column-gap: 11px;
}
.sidebar.collapsed .sidebar-header .logo-md {
  display: none;
}
.sidebar.collapsed .sidebar-header .logo-sm {
  display: block;
}
.sidebar.collapsed .sidebar-content .nav .nav-item .nav-link {
  justify-content: center;
}
.sidebar.collapsed .sidebar-content .nav .nav-item .nav-link svg {
  width: 20px;
}
.sidebar.collapsed .sidebar-content .nav .nav-item .nav-link.active {
  height: 27px;
  padding: 0px !important;
  border-radius: 0;
  background: transparent;
}
.sidebar.collapsed .sidebar-content .nav .nav-item .nav-link span {
  display: none;
  opacity: 0;
}
.sidebar.collapsed .sidebar-content .logout-btn {
  width: 42px;
  padding: 10px !important;
}
.sidebar.collapsed .sidebar-content .logout-btn span {
  display: none;
}
.sidebar.collapsed .sidebar-footer span {
  display: none;
}

#sidebar .toggle-btn {
  cursor: pointer;
  padding: 10px;
  text-align: center;
}

#content {
  width: calc(100% - 250px);
  margin-left: 250px; /* Content margin when sidebar is open */
  transition: all 0.3s;
}

#sidebar.collapsed ~ #content {
  width: calc(100% - 72px);
  margin-left: 72px; /* Content margin when sidebar is collapsed */
}

.page-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.page-header .search-bar {
  width: 610px;
}
.page-header .search-bar .search-bar-inner {
  width: 100%;
}
.page-header .search-bar .search-bar-inner .search-input {
  display: flex;
  width: 100%;
  padding: 10px 15px;
  align-items: center;
  gap: 12px;
  border-radius: 999px;
  background: #fff;
}
.page-header .search-bar .search-bar-inner .search-input input {
  border: none;
  outline: none;
  color: #979797;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.08px;
  padding: 0;
}
.page-header .search-bar .search-bar-inner .search-input input::-moz-placeholder {
  color: #979797;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.08px;
}
.page-header .search-bar .search-bar-inner .search-input input::placeholder {
  color: #979797;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.08px;
}
.page-header .search-bar .search-bar-inner .search-input input:focus {
  outline: none;
  box-shadow: none;
}
@media only screen and (max-width: 1024px) {
  .page-header .search-bar {
    width: 400px;
  }
}
@media only screen and (max-width: 768px) {
  .page-header .search-bar {
    width: 80%;
  }
}
.page-header .lang-dropdown .dropdown-menu {
  min-width: 76px;
}
.page-header .lang-dropdown .dropdown-toggle {
  display: flex;
  align-items: center;
}
.page-header .lang-dropdown .dropdown-item {
  display: flex;
  align-items: center;
}
.page-header .lang-dropdown .flag-icon {
  width: 20px;
  height: 20px;
  overflow: hidden;
  margin-right: 5px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.page-header .lang-dropdown .flag-icon img {
  width: 100%;
  height: 100%;
}

.table-container {
  width: 100%;
  padding: 32px 25px;
  border-radius: 12px;
  background: #fff;
  margin-top: 32px;
  overflow: hidden;
}
.table-container .table-container-inner {
  width: 100%;
  overflow-x: auto;
}
.table-container .table-container-inner .table {
  width: 100%;
  min-width: 892px;
  margin-bottom: 0 !important;
}
.table-container .table-container-inner .table .table-primary {
  --bs-table-bg: #387ff8 !important;
}
.table-container .table-container-inner .table .table-primary th {
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border: 0.3px solid #fff;
}
.table-container .table-container-inner .table .table-primary th:nth-child(1) {
  border-radius: 8px 0px 0px 0px;
}
.table-container .table-container-inner .table .table-primary th:nth-last-child(1) {
  border-radius: 0px 8px 0px 0px;
}

.login-page {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(246deg, #dcc2fc 3.32%, #a4c6fc 92.9%);
}
.login-page .login-logo {
  width: 300px;
}
.login-page .login-logo img {
  width: 100%;
}
.login-page .login-card {
  width: 500px;
  height: 550px;
  padding: 77.5px 69.5px;
  box-sizing: border-box;
  border-radius: 12px;
  background: #fdfdfd;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  row-gap: 64px;
}
@media only screen and (max-width: 768px) {
  .login-page .login-card {
    width: 90%;
  }
}
@media only screen and (max-width: 480px) {
  .login-page .login-card {
    padding: 50px 35px;
  }
}
.login-page .login-card-title {
  color: #000;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 34px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.login-page .login-card form input {
  height: 52px;
  border-radius: 8px;
  border: 1px solid #c1c1c1;
  color: #979797;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.login-page .login-card form input::-moz-placeholder {
  color: #979797;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.login-page .login-card form input::placeholder {
  color: #979797;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.login-page .login-card form input:nth-child(1) {
  margin-bottom: 24px;
}
.login-page .login-card form label {
  color: rgba(130, 130, 130, 0.87);
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 0;
}
.login-page .login-card form button {
  display: flex;
  height: 56px;
  padding: 16px 24px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  align-self: stretch;
  margin-top: 64px;
}

.index-page {
  width: 100%;
  background-color: #f6f6f6;
  display: flex;
}
.index-page .page-body {
  width: 100%;
  min-height: 100vh;
  padding: 42px 70px;
}
@media only screen and (max-width: 1200px) {
  .index-page .page-body {
    padding: 42px 50px;
  }
}
@media only screen and (max-width: 1024px) {
  .index-page .page-body {
    padding: 42px 30px;
  }
}
@media only screen and (max-width: 768px) {
  .index-page .page-body {
    padding: 42px 15px;
  }
}
.index-page .page-body .page-body-content {
  width: 100%;
}/*# sourceMappingURL=style.css.map */