.page-title {
    color: #000;
    font-family: "Poppins", sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.table-filter {
    width: 100%;
    margin-top: 9px;
    .table-filter-container {
        width: 100%;
        border-radius: 12px;
        background-color: #fff;
        padding: 25px 0;
        display: flex;
        align-items: center;
        justify-content: center;
        @include mq(tablet-portrait-up) {
            padding: 25px;
        }
        .table-filter-inner {
            max-width: 825px;
            .table-filter-form {
                display: flex;
                justify-content: center;
                flex-wrap: wrap;
                gap: 21px;
                .select-box {
                    @include mq(tablet-portrait-up) {
                        width: 100%;
                    }
                    .bootstrap-select {
                        @include mq(tablet-portrait-up) {
                            width: 100%;
                        }
                    }
                }
                button {
                    @include mq(tablet-portrait-up) {
                        width: 100%;
                    }
                }
            }
        }
    }
    .bootstrap-select .dropdown-menu li a span.check-mark {
        display: none;
    }
    .dropdown-menu-footer {
        display: flex;
        justify-content: space-between;
        padding: 10px;
        border-top: 1px solid #ddd;
        background-color: #f9f9f9;

        .btn-reset {
            color: #007bff;
            background: none;
            border: none;
            cursor: pointer;
        }

        .btn-ok {
            background-color: #007bff;
            color: white;
        }
    }
    .bootstrap-select {
        .dropdown-menu {
            li {
                a {
                    padding-left: 35px;
                    position: relative;
                    display: flex;
                    span.check-mark {
                        display: none !important;
                    }
                    &::before {
                        content: "";
                        position: absolute;
                        left: 12px;
                        top: 50%;
                        transform: translateY(-50%);
                        width: 16px;
                        height: 16px;
                        border: 1px solid #ccc;
                        border-radius: 3px;
                        background-color: #fff;
                    }

                    &.selected::before {
                        content: "✓";
                        font-size: 12px;
                        color: #fff;
                        text-align: center;
                        line-height: 16px;
                        background-color: #387ff8;
                    }
                }
            }
        }
        .inner {
            &.show {
                max-height: 155px !important;

                &::-webkit-scrollbar-track {
                    border-radius: 99px;
                    background: #ececec;
                }
                &::-webkit-scrollbar {
                    width: 3px;
                    height: 3px;
                }
                &::-webkit-scrollbar-thumb {
                    border-radius: 9px;
                    background: #387ff8;
                }
            }
        }
    }
    .hidden-footer {
        display: none;
    }
}
